#myheart{
    display: block;
    margin: 150px auto;
    animation-name: abc;
    animation-duration: 1s;
    animation-iteration-count: infinite;
    animation-direction: alternate;
}
@keyframes abc{
    0%{
        transform: scale(1);

    }
    75%{
        transform: scale(1.2);
    }
    100%{
        transform: scale(1.5);

    }
}
*{
    background: black;
}